@charset "utf-8";

/* Box Sizing Reset */

html {
  box-sizing: border-box;
  max-width: 480px;
  font-family: 'Roboto Slab';
  margin: 0 auto;
  background-image: linear-gradient(
    rgba(86, 204, 241, 1) 60%,
    rgba(247, 243, 243, 1)
  );
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
legend {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form {
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 6px 4px 13px 6px rgba(0, 0, 0, 0.6);
}

h1 {
  text-decoration: underline;
  text-shadow: 2px 2px 2px grey;
  text-underline-offset:15px;
  margin-bottom: 2rem;
}
h2{
  font-size: small;
}
fieldset {
  border: none;
  border-top: 0.1rem solid;
  margin-bottom: 1rem;
}
.grid-area{
  display: grid;
  grid-template-columns: repeat(3, 1fr 5fr);
}
.account input,
.other select,
#comments-box {
  width: 100%;
  background-color: #e8eeef;
  height: 1.8rem;
  border: none;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  font-family: 'Roboto Slab';
  padding: 0.3rem;
}
textarea{
  resize:vertical;
}

#submit {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #5fcf7f;
  font-family: 'Roboto Slab';
}
#clear-form {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  font-family: 'Roboto Slab';
}
